.weather-item-footer{
  display: flex;
  margin-left:50px;
  p{
    //color: #9d9d9d;
    &:first-child{
      margin-right: 30px;
    }
  }
  span {
    color: #9d9d9d;
  }
}

.location-temperature{
  display: flex;
  p{
    display: flex;
    flex-direction: column;
    align-items: center;
    &:first-child{
      margin-right: 30px;
    }
  }
  span {
    color: #9d9d9d;
  }
}

.mat-card{
  background-color: #E4F1FE;
}

.current-city{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cities-list{
  margin-top: 64px;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-direction: column;
  align-items: center;
}

.user-city{
  margin-bottom: 20px;
  width: 55%;
}

.parameter-title{
  color: #B7B4B6;
}

.weather-description {
  display: flex;
  width: 100%;
  justify-content: space-between;
  span{
    color: #000000;
  }
  .weather-description-footer{
    p{
      display: flex;
      flex-direction: column;
      align-items: center;
    }


  }
  /* SUNNY */
  .sunny-container {
    background-image: -webkit-linear-gradient(left, #00BBFF, #00BBFF 14.3%);
    height: 100%;
    width: 150px;
    margin-left: -15px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
  }
  .sunny {
    animation: sunny 15s linear infinite;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    height: 140px;
    width: 20px;

  }
  .sunny:before {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
    content: '';
    height: 140px;
    width: 20px;
    opacity: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transform: rotate(90deg);
  }
  .sunny:after {
    background: #FFEE44;
    border-radius: 50%;
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 15px;
    content: '';
    height: 80px;
    width: 80px;
    position: absolute;
    left: -30px;
    top: 30px;
  }
  @keyframes sunny {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* CLOUDY */
  .cloudy-container {
    /*background-image: -webkit-linear-gradient(left, #E6E6E6 28.6%, #E6E6E6 42.9%);*/
    height: 100%;
    width: 150px;
    margin-left: -15px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
  }
  .cloudy {
    animation: cloudy 5s ease-in-out infinite;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: #FFFFFF 65px -15px 0 -5px,
    #FFFFFF 25px -25px,
    #FFFFFF 30px 10px,
    #FFFFFF 60px 15px 0 -10px,
    #FFFFFF 85px 5px 0 -5px;
    height: 50px;
    width: 50px;
    margin-left: -60px;
    position: absolute;
    right: 90px;
    top: 45px;
  }
  .cloudy:after {
    animation: cloudy_shadow 5s ease-in-out infinite;
    background: #000000;
    border-radius: 50%;
    content: '';
    height: 15px;
    width: 120px;
    opacity: 0.2;
    position: absolute;
    left: 5px;
    bottom: -60px;
    transform: scale(1);
  }
  @keyframes cloudy {
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes cloudy_shadow {
    50% {
      transform: translateY(20px) scale(.7);
      opacity: .05;
    }
  }

  /* RAINY */
  .rainy-container {
    //background-image: -webkit-linear-gradient(left, #E6E6E6 28.6%, #E6E6E6 42.9%);
    height: 100%;
    width: 150px;
    margin-left: -15px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
  }
  .rainy {
    animation: rainy 5s ease-in-out infinite 1s;
    background: #CCCCCC;
    border-radius: 50%;
    box-shadow: #CCCCCC 65px -15px 0 -5px,
    #CCCCCC 25px -25px,
    #CCCCCC 30px 10px,
    #CCCCCC 60px 15px 0 -10px,
    #CCCCCC 85px 5px 0 -5px;
    display: block;
    height: 50px;
    width: 50px;
    margin-left: -60px;
    position: absolute;
    right: 90px;
    top: 45px;
  }
  .rainy:after {
    animation: rainy_shadow 5s ease-in-out infinite 1s;
    background: #000000;
    border-radius: 50%;
    content: '';
    height: 15px;
    width: 120px;
    opacity: 0.2;
    position: absolute;
    left: 5px;
    bottom: -60px;
    transform: scale(1);
  }
  .rainy:before {
    animation: rainy_rain .7s infinite linear;
    content: '';
    background: #CCCCCC;
    border-radius: 50%;
    display: block;
    height: 6px;
    width: 3px;
    opacity: 0.3;
    transform: scale(.9);
  }
  @keyframes rainy {
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes rainy_shadow {
    50% {
      transform: translateY(20px) scale(.7);
      opacity: 0.05;
    }
  }
  @keyframes rainy_rain {
    0% {
      box-shadow: rgba(0, 0, 0, 0) 30px 30px,
      rgba(0, 0, 0, 0) 40px 40px,
      #000 50px 75px,
      #000 55px 50px,
      #000 70px 100px,
      #000 80px 95px,
      #000 110px 45px,
      #000 90px 35px;
    }
    25% {
      box-shadow: #000 30px 45px,
      #000 40px 60px,
      #000 50px 90px,
      #000 55px 65px,
      rgba(0, 0, 0, 0) 70px 120px,
      rgba(0, 0, 0, 0) 80px 120px,
      #000 110px 70px,
      #000 90px 60px;
    }
    26% {
      box-shadow: #000 30px 45px,
      #000 40px 60px,
      #000 50px 90px,
      #000 55px 65px,
      rgba(0, 0, 0, 0) 70px 40px,
      rgba(0, 0, 0, 0) 80px 20px,
      #000 110px 70px,
      #000 90px 60px;
    }
    50% {
      box-shadow: #000 30px 70px,
      #000 40px 80px,
      rgba(0, 0, 0, 0) 50px 100px,
      #000 55px 80px,
      #000 70px 60px,
      #000 80px 45px,
      #000 110px 95px,
      #000 90px 85px;
    }
    51% {
      box-shadow: #000 30px 70px,
      #000 40px 80px,
      rgba(0, 0, 0, 0) 50px 45px,
      #000 55px 80px,
      #000 70px 60px,
      #000 80px 45px,
      #000 110px 95px,
      #000 90px 85px;
    }
    75% {
      box-shadow: #000 30px 95px,
      #000 40px 100px,
      #000 50px 60px,
      rgba(0, 0, 0, 0) 55px 95px,
      #000 70px 80px,
      #000 80px 70px,
      rgba(0, 0, 0, 0) 110px 120px,
      rgba(0, 0, 0, 0) 90px 110px;
    }
    76% {
      box-shadow: #000 30px 95px,
      #000 40px 100px,
      #000 50px 60px,
      rgba(0, 0, 0, 0) 55px 35px,
      #000 70px 80px,
      #000 80px 70px,
      rgba(0, 0, 0, 0) 110px 25px,
      rgba(0, 0, 0, 0) 90px 15px;
    }
    100% {
      box-shadow: rgba(0, 0, 0, 0) 30px 120px,
      rgba(0, 0, 0, 0) 40px 120px,
      #000 50px 75px,
      #000 55px 50px,
      #000 70px 100px,
      #000 80px 95px,
      #000 110px 45px,
      #000 90px 35px;
    }
  }

  /* RAINBOW */
  .rainbow {
    animation: rainbow 5s ease-in-out infinite;
    border-radius: 170px 0 0 0;
    box-shadow: #FB323C -2px -2px 0 1px,
    #F99716 -4px -4px 0 3px,
    #FEE124 -6px -6px 0 5px,
    #AFDF2E -8px -8px 0 7px,
    #6AD7F8 -10px -10px 0 9px,
    #60B1F5 -12px -12px 0 11px,
    #A3459B -14px -14px 0 13px;
    height: 70px;
    width: 70px;
    margin-left: -40px;
    position: absolute;
    right: 90px;
    top: 71px;
    transform: rotate(40deg);
  }
  .rainbow:after {
    animation: rainbow_shadow 5s ease-in-out infinite;
    background: #000000;
    border-radius: 50%;
    content: '';
    opacity: 0.2;
    height: 15px;
    width: 120px;
    position: absolute;
    bottom: -23px;
    left: 17px;
    transform: rotate(-40deg);
    transform-origin: 50% 50%;
  }
  @keyframes rainbow {
    50% {
      transform: rotate(50deg);
    }
  }
  @keyframes rainbow_shadow {
    50% {
      transform: rotate(-50deg) translate(10px) scale(.7);
      opacity: 0.05;
    }
  }

  /* STARRY */
  .starry {
    animation: starry_star 5s ease-in-out infinite;
    background: #fff;
    border-radius: 50%;
    box-shadow: #FFFFFF 26px 7px 0 -1px,
    rgba(255,255,255,0.1) -36px -19px 0 -1px,
    rgba(255,255,255,0.1) -51px -34px 0 -1px,
    #FFFFFF -52px -62px 0 -1px,
    #FFFFFF 14px -37px,
    rgba(255, 255, 255, 0.1) 41px -19px,
    #FFFFFF 34px -50px,
    rgba(255, 255, 255, 0.1) 14px -71px 0 -1px,
    #FFFFFF 64px -21px 0 -1px,
    rgba(255, 255, 255, 0.1) 32px -85px 0 -1px,
    #FFFFFF 64px -90px,
    rgba(255, 255, 255, 0.1) 60px -67px 0 -1px,
    #FFFFFF 34px -127px,
    rgba(255,255,255,0.1) -26px -103px 0 -1px;
    height: 4px;
    width: 4px;
    margin-left: -10px;
    opacity: 1;
    position: absolute;
    left: 777px;
    top: 150px;
  }
  .starry:after {
    animation: starry 5s ease-in-out infinite;
    border-radius: 50%;
    box-shadow: #FFFFFF -25px 0;
    content: '';
    height: 100px;
    width: 100px;
    position: absolute;
    top: -106px;
    transform: rotate(-5deg);
    transform-origin: 0 50%;
  }

  @keyframes starry {
    50% {
      transform: rotate(10deg);
    }
  }
  @keyframes starry_star {
    50% {
      box-shadow: rgba(255, 255, 255, 0.1) 26px 7px 0 -1px,
      #FFFFFF -36px -19px 0 -1px,
      #FFFFFF -51px -34px 0 -1px,
      rgba(255,255,255,0.1) -52px -62px 0 -1px,
      rgba(255, 255, 255, 0.1) 14px -37px,
      #FFFFFF 41px -19px,
      rgba(255, 255, 255, 0.1) 34px -50px,
      #FFFFFF 14px -71px 0 -1px,
      rgba(255, 255, 255, 0.1) 64px -21px 0 -1px,
      #FFFFFF 32px -85px 0 -1px,
      rgba(255, 255, 255, 0.1) 64px -90px,
      #FFFFFF 60px -67px 0 -1px,
      rgba(255, 255, 255, 0.1) 34px -127px,
      #FFFFFF -26px -103px 0 -1px;
    }
  }

  /* STORMY */

  .storm-container {
    background-image: -webkit-linear-gradient(left, #444444 71.5%, #444444 85.8%);
    height: 100%;
    width: 150px;
    margin-left: -15px;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
  }
  .stormy {
    animation: stormy 5s ease-in-out infinite;
    background: #222222;
    border-radius: 50%;
    box-shadow: #222222 65px -15px 0 -5px,
    #222222 25px -25px,
    #222222 30px 10px,
    #222222 60px 15px 0 -10px,
    #222222 85px 5px 0 -5px;
    height: 50px;
    width: 50px;
    margin-left: -70px;
    position: absolute;
    right: 90px;
    top: 45px;
  }
  .stormy:after {
    animation: stormy_shadow 5s ease-in-out infinite;
    background: #000;
    border-radius: 50%;
    content: '';
    height: 15px;
    width: 120px;
    opacity: 0.2;
    position: absolute;
    left: 5px;
    bottom: -60px;
    transform: scale(1);
  }
  .stormy:before {
    animation: stormy_thunder 2s steps(1, end) infinite;
    border-left: 0px solid transparent;
    border-right: 7px solid transparent;
    border-top: 43px solid yellow;
    box-shadow: yellow -7px -32px;
    content: '';
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    left: 57px;
    top: 70px;
    transform: rotate(14deg);
    transform-origin: 50% -60px;
  }
  @keyframes stormy {
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes stormy_shadow {
    50% {
      transform: translateY(20px) scale(.7);
      opacity: 0.05;
    }
  }
  @keyframes stormy_thunder {
    0% {
      transform: rotate(20deg);
      opacity: 1;
    }
    5% {
      transform: rotate(-34deg);
      opacity: 1;
    }
    10% {
      transform: rotate(0deg);
      opacity: 1;
    }
    15% {
      transform: rotate(-34deg);
      opacity: 0;
    }
  }

  /* SNOWY */
  .snowy {
    animation: snowy 5s ease-in-out infinite 1s;
    background: #FFFFFF;
    border-radius: 50%;
    box-shadow: #FFFFFF 65px -15px 0 -5px,
    #FFFFFF 25px -25px,
    #FFFFFF 30px 10px,
    #FFFFFF 60px 15px 0 -10px,
    #FFFFFF 85px 5px 0 -5px;
    display: block;
    height: 50px;
    width: 50px;
    margin-left: -60px;
    position: absolute;
    right: 90px;
    top: 70px;
  }
  .snowy:after {
    animation: snowy_shadow 5s ease-in-out infinite 1s;
    background: #000000;
    border-radius: 50%;
    content: '';
    height: 15px;
    width: 120px;
    opacity: 0.2;
    position: absolute;
    left: 8px;
    bottom: -60px;
    transform: scale(1);
  }
  .snowy:before {
    animation: snowy_snow 2s infinite linear;
    content: '';
    border-radius: 50%;
    display: block;
    height: 7px;
    width: 7px;
    opacity: 0.8;
    transform: scale(.9);
  }
  @keyframes snowy {
    50% {
      transform: translateY(-20px);
    }
  }
  @keyframes snowy_shadow {
    50% {
      transform: translateY(20px) scale(.7);
      opacity: 0.05;
    }
  }
  @keyframes snowy_snow {
    0% {
      box-shadow: rgba(238, 238, 238, 0) 30px 30px,
      rgba(238, 238, 238, 0) 40px 40px,
      #EEEEEE 50px 75px,
      #EEEEEE 55px 50px,
      #EEEEEE 70px 100px,
      #EEEEEE 80px 95px,
      #EEEEEE 110px 45px,
      #EEEEEE 90px 35px;
    }
    25% {
      box-shadow: #EEEEEE 30px 45px,
      #EEEEEE 40px 60px,
      #EEEEEE 50px 90px,
      #EEEEEE 55px 65px,
      rgba(238, 238, 238, 0) 70px 120px,
      rgba(238, 238, 238, 0) 80px 120px,
      #EEEEEE 110px 70px,
      #EEEEEE 90px 60px;
    }
    26% {
      box-shadow: #EEEEEE 30px 45px,
      #EEEEEE 40px 60px,
      #EEEEEE 50px 90px,
      #EEEEEE 55px 65px,
      rgba(238, 238, 238, 0) 70px 40px,
      rgba(238, 238, 238, 0) 80px 20px,
      #EEEEEE 110px 70px,
      #EEEEEE 90px 60px;
    }
    50% {
      box-shadow: #EEEEEE 30px 70px,
      #EEEEEE 40px 80px,
      rgba(238, 238, 238, 0) 50px 100px,
      #EEEEEE 55px 80px,
      #EEEEEE 70px 60px,
      #EEEEEE 80px 45px,
      #EEEEEE 110px 95px,
      #EEEEEE 90px 85px;
    }
    51% {
      box-shadow: #EEEEEE 30px 70px,
      #EEEEEE 40px 80px,
      rgba(238, 238, 238, 0) 50px 45px,
      #EEEEEE 55px 80px,
      #EEEEEE 70px 60px,
      #EEEEEE 80px 45px,
      #EEEEEE 110px 95px,
      #EEEEEE 90px 85px;
    }
    75% {
      box-shadow: #EEEEEE 30px 95px,
      #EEEEEE 40px 100px,
      #EEEEEE 50px 60px,
      rgba(238, 238, 238, 0) 55px 95px,
      #EEEEEE 70px 80px,
      #EEEEEE 80px 70px,
      rgba(238, 238, 238, 0) 110px 120px,
      rgba(238, 238, 238, 0) 90px 110px;
    }
    76% {
      box-shadow: #EEEEEE 30px 95px,
      #EEEEEE 40px 100px,
      #EEEEEE 50px 60px,
      rgba(238, 238, 238, 0) 55px 35px,
      #EEEEEE 70px 80px,
      #EEEEEE 80px 70px,
      rgba(238, 238, 238, 0) 110px 25px,
      rgba(238, 238, 238, 0) 90px 15px;
    }
    100% {
      box-shadow: rgba(238, 238, 238, 0) 30px 120px,
      rgba(238, 238, 238, 0) 40px 120px,
      #EEEEEE 50px 75px,
      #EEEEEE 55px 50px,
      #EEEEEE 70px 100px,
      #EEEEEE 80px 95px,
      #EEEEEE 110px 45px,
      #EEEEEE 90px 35px;
    }
  }
}
#fabrizio {
  border-top: 100px solid black;
  border-right: 63px solid transparent;
  width: 0;
  transform: scale(.33);
  transform-origin: 0 0;
  margin: 20px;
  opacity:.6;
  display: none;
}
#fabrizio:before {
  background: black;
  width: 20px;
  height: 30px;
  content: '';
  display: block;
  transform: skewX(-32deg);
  position: relative;
  top: -64px;
  left: 30px;
}
#fabrizio:after {
  background: black;
  width: 40px;
  height: 36px;
  content: '';
  display: block;
  transform: skewX(-32deg);
  position: relative;
  top: -130px;
  left: 50px;
}
a {
  position: absolute;
  top: 30px;
  left: 60px;
  color: #777;
  text-decoration: none;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: none;
}

.weather-icon{
  display: none;
}

.forecast-list{
  display: flex;
  justify-content: space-between;
}

.mat-card{
  padding: 24px 12px;
}

.forecast-icons {
  $color-sun: #EDC951;
  $color-cloud: #00A0B0;
  $color-cloud-light: #00cee3;
  $color-cloud-dark: #008997;
  $color-rain-cloud: #666;
  $color-rain-cloud-light: #999;
  $color-rain-cloud-dark: #555;
  $color-snow-cloud: #CCC;
  $color-main-background: #222;
  $color-rainbow-red: #BD1E52;
  $color-rainbow-red: #BD1E52;
  $color-rainbow-orange: #E88024;
  $color-rainbow-yellow: #F8CB10;
  $color-rainbow-green: #899C3B;
  @import url(https://fonts.googleapis.com/css?family=Poppins);
  body {
    background-color: $color-main-background;
    min-width: 500px;
    font-family: 'Poppins', sans-serif;
    color: $color-snow-cloud;
    a {
      text-decoration: none;
      color: $color-cloud;
    }
  }

  .showbox {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .title {
    position: absolute;
    width: 100%;
    margin: 10px 0 0 0;
    text-align: center;
    .heading {
      font-size: 32px;
      margin: 0px;
    }
  }

  .credit {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin: 0 0 10px 0;
  }

  .div-icons {
    position: absolute;
    display: block;
    width: 620px;
    text-align: center;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .icon {
    margin: 15px 25px;
    width: 100px;
    height: 100px;
  }

  .sunny-body path {
    fill: $color-sun;
  }

  .sunny-long-ray {
    transform-origin: 50% 50%;
    animation: spin 9s linear infinite;
  }

  .sunny-long-ray path {
    fill: $color-sun;
  }

  .sunny-short-ray {
    transform-origin: 50% 50%;
    animation: spin 9s linear infinite;
  }

  .sunny-short-ray path {
    fill: $color-sun;
  }

  .cloud-offset path {
    fill: $color-main-background;
  }

  .main-cloud path {
    fill: $color-cloud;
  }

  .small-cloud path {
    fill: $color-cloud;
    animation: flyby 6s linear infinite;
  }

  .rain-cloud path {
    fill: $color-cloud;
    animation: rain-cloud-color 6s ease infinite;
  }

  .rain-drops path {
    fill: $color-cloud;
    opacity: 0;
  }

  .rain-drops path:nth-child(1) {
    animation: rain-drop 1.2s linear infinite;
  }

  .rain-drops path:nth-child(2) {
    animation: rain-drop 1.2s linear infinite 0.4s;
  }

  .rain-drops path:nth-child(3) {
    animation: rain-drop 1.2s linear infinite 0.8s;
  }

  .snow-cloud path {
    fill: $color-snow-cloud;
  }

  .snowflakes path {
    transform-origin: 50% 50%;
    fill: $color-snow-cloud;
    opacity: 0;
  }

  .snowflakes path:nth-child(1) {
    animation: snow-drop 1.2s linear infinite;
  }

  .snowflakes path:nth-child(2) {
    animation: snow-drop 1.2s linear infinite 0.4s;
  }

  .snowflakes path:nth-child(3) {
    animation: snow-drop 1.2s linear infinite 0.8s;
  }

  .wind-string path {
    stroke: $color-snow-cloud;
    stroke-linecap: round;
    stroke-width: 7px;
    animation: wind-blow 3s linear infinite;
  }

  .rainbows path {
    stroke-linecap: round;
    animation: rainbow 4.5s linear infinite;
  }

  .rainbows path:nth-child(1) {
    stroke: $color-rainbow-red;
    stroke-width: 6px;
  }

  .rainbows path:nth-child(2) {
    stroke: $color-rainbow-orange;
    stroke-width: 8px;
  }

  .rainbows path:nth-child(3) {
    stroke: $color-rainbow-yellow;
    stroke-width: 6px;
  }

  .rainbows path:nth-child(4) {
    stroke: $color-rainbow-green;
    stroke-width: 14px;
  }

  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @keyframes flyby {
    0% {
      -webkit-transform: translate(0px, 0px);
      transform: translate(0px, 0px);
      opacity: 0;
    }
    30% {
      -webkit-transform: translate(39px, 0px);
      transform: translate(39px, 0px);
      opacity: 1;
    }
    70% {
      -webkit-transform: translate(91px, 0px);
      transform: translate(91px, 0px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(130px, 0px);
      transform: translate(130px, 0px);
      opacity: 0;
    }
  }

  @keyframes rain-cloud-color {
    100%,
    0% {
      fill: $color-rain-cloud;
    }
    20% {
      fill: $color-rain-cloud-dark;
    }
    21.5% {
      fill: $color-rain-cloud-light;
    }
    25% {
      fill: $color-rain-cloud-dark;
    }
    27.5% {
      fill: $color-rain-cloud-light;
    }
    30% {
      fill: $color-rain-cloud-dark;
    }
    40% {
      fill: $color-rain-cloud-light;
    }
    90% {
      fill: $color-rain-cloud-dark;
    }
  }

  @keyframes rain-drop {
    0% {
      -webkit-transform: translate(0px, -60px);
      transform: translate(0px, -60px);
      opacity: 0;
    }
    30% {
      -webkit-transform: translate(0px, -36px);
      transform: translate(0px, -36px);
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0px, 4px);
      transform: translate(0px, 4px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(0px, 20px);
      transform: translate(0px, 20px);
      opacity: 0;
    }
  }

  @keyframes snow-drop {
    0% {
      -webkit-transform: translate(0px, -60px) rotate(0deg);
      transform: translate(0px, -60px) rotate(0deg);
      opacity: 0;
    }
    30% {
      -webkit-transform: translate(0px, -36px) rotate(108deg);
      transform: translate(0px, -36px) rotate(108deg);
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0px, 4px) rotate(288deg);
      transform: translate(0px, 4px) rotate(288deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: translate(0px, 20px) rotate(360deg);
      transform: translate(0px, 20px) rotate(360deg);
      opacity: 0;
    }
  }

  @keyframes wind-blow {
    0% {
      stroke-dasharray: 5 300;
      stroke-dashoffset: -200;
      opacity: 1;
    }
    50% {
      stroke-dasharray: 300 300;
      stroke-dashoffset: -100;
      opacity: 1;
    }
    90% {
      stroke-dasharray: 50 300;
      stroke-dashoffset: -20;
      opacity: 0.7;
    }
    100% {
      stroke-dasharray: 20 300;
      stroke-dashoffset: 0;
      opacity: 0.2;
    }
  }

  @keyframes rainbow {
    0% {
      stroke-dasharray: 10 210;
      stroke-dashoffset: 0;
      opacity: 0;
    }
    30% {
      stroke-dasharray: 210 210;
      stroke-dashoffset: 0;
      opacity: 1;
    }
    70% {
      stroke-dasharray: 210 210;
      stroke-dashoffset: 0;
      opacity: 1;
    }
    100% {
      stroke-dasharray: 0 210;
      stroke-dashoffset: -210;
      opacity: 0;
    }
  }
}

@media (max-width: 1199px) {
  .user-city {
    width: 65%;
  }
}

@media (max-width: 991px) {
.user-city {
  margin-bottom: 20px;
  width: 85%;
  }
}


@media (max-width: 767px) {
  .user-city, .main-city, .weather-item{
    width: 100%;
  }
}

@media (max-width: 500px) {
  .weather-description{
    flex-direction: column;
    align-items: flex-start;
    .weather-description-footer{
      p{
        align-items: flex-start;
      }
    }
  }
}
