
header{
    /*height: 60px;*/
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

h3{
    padding: 10px;
    background-color: #000;
    color: #fff;
    width: 200px;
    margin: 0;

}

@media (max-width: 767px) {
    header{
        flex-direction: column;
        border-bottom: 0;
        padding: 0;
    }

    header h3{
        width: 100%;
    }
}