form{
    display: flex;
    align-items: flex-start;
    color: #fff;
}

.btn{
    margin-left: 10px;
}

@media (max-width: 767px) {
    form{
        margin-top: 30px;
    }

    .mat-input-container{
        width: 100%;
    }

    .add-city{
        padding: 0 10px;
    }
}